<div class="calendar-row">
  <div class="col-lg-12">
    <% if user_signed_in? %>
      <div class="event-calendar" data-toggle="modal" data-target="#exampleModal">
        <%= month_calendar events: @events do |date, events| %>
          <%= date.day %>
            <% events.each do |event| %>
              <div class="test">
                <% if event.user == current_user%>
                  <%= link_to event.name, event%>
                <% end %>
                
              </div>
              
            <% end %>

         <% end %>
          
      </div>
    <br>
  <%end%>
</div>

                  
